<div class="recipe-form">
  <h6>Submit New Drink Recipe Here</h6>
  <label for="drink">Drink Name: </label>
  <input id="drink" type="text" /><br>
  <a href="/newingredient">Need another liquid?</a><br>
  <label for="liquid">Liquid: </label><br>
    {{#each liquids as |liquid|}}
      <label for="liquid_{{liquid.id}}">{{liquid.name}}</label>
      <input type="checkbox" class="liquid-list barcard-checkbox" id="{{liquid.id}}" name="liquid_{{liquid.id}}" value="{{liquid.name}}"><br>
    {{/each}}
  {{!-- <button type="button" class="btn btn-primary" id="add-ingredients-button">Add Ingredients</button> --}}
  <label for="is_alcoholic">Contains alcohol? </label>
  <input type="checkbox" id="is_alcoholic" class="barcard-checkbox" name="is_alcoholic" value="is_alcoholic"><br>
  <label for="drink_instructions">Recipe Instructions: </label>
  <textarea id="drink_instructions"></textarea>
  <button type="button" class="btn btn-primary" id="new-recipe-button">Submit</button>
</div>
<script src="/js/drink.js"></script>