<div class="barCard-body-box">
  {{!-- <label for="text" class="text-white">Search:</label>
  <input type="text" id="text" class="text">
  <button class="search">Search Recipe</button> --}}
  <h3 class="text-white m-3">Currently submitted recipes: </h3>
  {{#each recipes as |drink|}}
  <div class="row m-3">
    <div class="card">
      <a href="/recipe/{{drink.id}}" class="card-header drink {{#if drink.is_alcoholic}}bg-success text-white{{else}}text-black{{/if}}">{{drink.drink_name}} {{#if drink.is_alcoholic}}CONTAINS ALCOHOL{{/if}} -  {{lookup ../emoticons @index}}</a>
      <div class="card-body text-black">
        {{drink.instructions}}
      </div>
      <button id="drink_{{drink.id}}" class="view-button">View Recipe</button>
      <div class="card-footer text-muted">
        Posted by {{user.username}} on {{format_date createdAt}}
      </div>
    </div>
  </div>
  {{/each}}
<<<<<<< HEAD
{{!-- <div class="row">
  <form id="comment-form">
    <label for="create-post-content" class="form-label">Comment Here</label>
    <div class="form-floating">
      <textarea class="form-control" id="comment-text-area" style="height: 100px"></textarea>
    </div>
    <button id="comment-submit" class="my-3" data-id="{{id}}">Submit Comment</button>
  </form>
</div> --}}

{{!-- {{#each Comments as |comment|}}
  <div class="row my-1">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{comment.content}}</p>
      </div>
      <div class="card-footer text-muted" style="background-color: #dcd0ff;">
        Posted by {{comment.user.username}} on {{format_date comment.createdAt}}
      </div>
    </div>
  </div>
{{/each}} --}}
{{!-- </div> --}}
<script src="/js/drink.js"></script>
=======
>>>>>>> origin
